body{
    
    background: #3a3a3a;
    font-family: 'Raleway', sans-serif;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
nav{
    display: flex;
    justify-content: flex-end;
}
.bt0,.bt1,.bt2,.bt3{
    
    border: none;
    background: none;
    color: #ffffff;
    font-size: large;

}
main {
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 200%;
    object-fit: cover;
}
.foto2{
    box-sizing: border-box;
    margin: auto;
    padding: auto;  
}
h1{
    text-align: center;
    font-size: 70px; 
}
h3{
    font-size: larger;
}
h2{
    font-size: 35px;
    text-align: center;
    margin: 5%;
}
.descripcion{
    margin: 5%;
    text-align: center;
}

.micv{
    width: 220px;
    height: 60px;
    border-radius: 15px;
    font-size: larger;
    background: #9f70c3;
    color: #080707;
}
#listas{
    margin: 10%;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hobies{
    border: #ffffff solid;
    float: left;
    width: 230px;
    height: 100px;
    background: none;
    font-style: italic;
    font-weight: bold;
    color: bisque;
    text-align: center;
}
.fortaleza{
    border: #ffffff solid;
    text-align: center;
    float: left;
    width: 230px;
    height: 100px;
    background: none;
    font-style: italic;
    font-weight: bold;
    color: rgb(245, 196, 255);
    align-items:center;
}
.icon1{
    /*display: flex;
    align-content: center;
    width: 50%;
    height: 10%;
    margin: 10px 5px 10px 10px;
    padding: auto;
    border: 40%;*/
}
footer{
    display: flex;
    width: 330px;
    height: 130px;
    margin: 10px 5px 10px 10px;
    padding: auto;
    border: none;
    max-width: 1200px;
    margin: auto;

}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
