body{
    background: #3a3a3a;
    font-family: 'Raleway', sans-serif;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.logo{
    font-size: 30px;
    color: white;

}
.menu{
    display: flex;
}
.menu a{
    display: flex;
    margin: 10px;
    padding: 8px;    
    color: #fff;
    padding: 8px 8px;
}
button.descarga{
    border-radius: 10px;
}

/*Inicia el codigo funcion*/

.descarga {
    position: relative;
    overflow: hidden;
  }
  .texto-descarga {
    transition: opacity 0.1s ease-out;
  }
  .logo-descarga,
  .logo-check {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-in;
    opacity: 0;
  }
  .logo-check {
    opacity: 0;
    transition: 1s;
  }
  .descarga.clicked .texto-descarga {
    opacity: 0;
  }
  .descarga.clicked .logo-check {
    opacity: 1;
    background-color: #44ffff;
    transition: 2s;
  }
  button.descarga.clicked{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 3s;
  }


/*Acaba el codigo de la funcion*/
.descarga a{
    font-size: 20px;
    margin: 10px;
    width: 160px;
    height: 30px;
    font-weight: 700;  
    transition: 0.5s; 
    color: black;
}
.descarga:hover, .active{
    background-color:#00a9a5ff;
    border-radius: 10px;
}
.active{
    background-color:#00a9a5ff;
    transition: 0.3s;
    border-radius: 10px;
}
ul {
    list-style: none;
}
.foto2{
    border-radius: 50%;
    margin-bottom: 20px;  
}
.foto img{
    width: 300px;
    border: solid #00a9a5ff 5px;
}
h1{
    font-size: 48px;
    color: azure;
    font-size: 25px;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 50px;
}
@media(min-width:1024px){
    h1{
        text-align: left;
        font-size: 48px;
    }
    .descripcion{
        flex-direction: row;
        text-align: left;
    }
    .descarga a{
        text-align: left;
        border-radius: 10px;
        
    }
    #parrafo1{
        margin: 80px;
    }
    #parrafo1 p{
        font-size: 30px;
    }
    .esp{
        border: solid white;
        width: 480px;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
main {
    max-width: 1200px;
    margin: auto;
}
#parrafo1{
    font-size: 30px;
    color:white; 
}
.contenido2{
    font-size: 30px;
    background-color:#00a9a5ff;
    color: #3a3a3a; 
    border-radius: 20px;
    text-align: center;
    margin: 50px 50px 100px 50px;
    padding: 10px;
    border: solid  #44ffff ;
}
h3{
    font-size: 40px;
    color: white;
    text-align: center;   
}
.lista1{
    font-size: 30px;
    background-color: #00a9a5ff;
    color: #3a3a3a; 
    border-radius: 20px;
    text-align: center;
    margin: 50px 50px 100px 50px;
    padding: 2%;
    border: solid  #44ffff;
}

#consultas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: auto; 
    margin: 20px;
}
#consultas a:hover{
    border-radius: 10px;
    background-color: #44ffff;
    height: 100px;
    border: solid  #00a9a5ff;
}
.img1, .img2, .img3{
    filter: invert(99%);
    width: 100px;
    margin : auto;
}
footer{
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 1%;
    font-size: 20px;
}

